body{
    margin: 0;
    font-size: 10px;
    max-width:100%;
    box-sizing: border-box;
    height: 100vh;
    font-family: monospace;
    font-size: 10px;
    background: #f5f5f5;
}

@media (min-width: 300px){
    body{
        max-width: 100%;
        font-size: 12px;
    }
}

@media (min-width: 600px){
    body{
        font-size: 18px;
    }
}

header{
    width: 100vw;
    height: 60vh;
    max-width:100%;
}

.menu{
    position: fixed;
    top: 0;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: #fff;
}


.menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 400px){
    .menu ul{
        justify-content: space-around;
        padding: 20px;
    }
}


.menu li{
    list-style: none;
    text-decoration: none;
}

.menu a{
    font-family: monospace;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    color: #262626;
}

.menu a:hover{
   border-bottom: 1px solid #082126;
}

.site-title,
.site-subtitle{
    text-align: center;
    font-family: monospace;
    color: #262626;
}

.site-title{
    font-size: 4em;
    margin-top: 10%;
}

@media (max-width: 550px){
    .site-title{
        margin-top: 40%;
    }
    .site-subtitle{
        padding: 20px;
    }
}

.bg{   
    position: relative;
    z-index: -1;
    height: 100vh;
    background: url(images/bg.png);
    background-size: 100vw 100vh;
    filter: blur(4px);
}
.sobre{
    max-width:100%;
    height: 100vh;
    position: relative;
    z-index: -1;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1em;
}

.sobre::after{
    content: "";
    width: 100%;
    border: 20px solid #082126;
    filter: blur(4px);
}

.img-portfolio{
    width: 350px;
    width: 350px;
}

@media (min-width: 580px){
    .img-portfolio{
        width: 450px;
        width: 450px;
    }
}

@media (min-width: 300px){
    .img-portfolio{
        width: 250px;
        width: 250px;
    }
}

@media (min-width: 200px){
    .img-portfolio{
        width: 150px;
        width: 150px;
    }
}

.bg{   
    position: relative;
    z-index: -1;
    height: 100vh;
    background: url(images/bg.png);
    background-size: 100vw 100vh;
    filter: blur(4px);
}

.portfolio{
    position: relative;
    z-index: -1;
    margin-bottom: 10px;
    padding: 0 10%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

figcaption{
    text-align: center;
}

@media (max-width: 1000px){
    .portfolio{
        flex-direction: column;
    }
}

.contato{
    height: 20vh;
    background: #082126;
    color: #fff; 
}

@media (min-width: 400px){
    .contato{
        height: 40vh;
    }
}